#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* 2. Layout principal como columna flexible */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* altura mínima = altura de la ventana */
}

/* 3. El main (Home) crece para empujar el footer */
.App>div:first-child {
  flex: 1;
}

/* 4. Footer ocupa todo el ancho */
footer {
  width: 100%;
}

.card {
  padding: 2em;
}

.boton-flotante {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50% !important;
  width: 60px;
  height: 60px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  background-color: #ff3131 !important;
  border-color: #ff3131 !important;
  z-index: 1000;
}

.boton-flotante:hover {
  box-shadow: 0 0 20px 1px rgba(255, 49, 49, 0.7);
}

/* Para que el badge se vea bien dentro del botón */
.boton-flotante .badge {
  font-size: 0.75rem;
  padding: 6px 8px;
}

button, button:focus-visible {
  outline: none !important;
}