.layout {
  padding-top: 200px; /* altura del navbar fijo, permite que el contenido se vea luego del navbar */
  min-height: calc(100vh - 70px - 100px); /* altura total menos navbar y footer */
  padding-left: 50px;
  padding-right: 50px;
}