.offcanvas, .offcanvas-start {
  width: 300px !important;
}

.offcanvas-header {
  padding-left: 30px;
}

.off-canvas-body-list {
  list-style: none;
  padding-left: 0;
  margin: 20px 0 0;
  text-align: left;

  li {
    padding: 8px 0;
    color: #ff3131;

    &:hover {
      text-decoration: underline;
    }
  }
}

.off-canvas-body-list-item a {
  color: #ff3131;
  text-decoration: none;
  font-size: 18px;
}

.btn-close:focus-visible {
  box-shadow: none;
  border: none;
}

.btn-close {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
}