.offcanvas-header {
  padding-left: 30px;
}

.off-canvas-body-list {
  list-style: none;
  padding-left: 0;
  margin: 20px 0 0;
  text-align: left;

  li {
    padding: 8px 0;
  }
}

.off-canvas-body-list-item a {
  color: #ff3131;
  text-decoration: none;
  font-size: 18px;
}

.btn-close:focus-visible {
  box-shadow: none;
  border: none;
  outline: none;
}

.btn-close {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  /* asegura el tamaño del ícono */
}

.btn-close:hover {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23ff3131' viewBox='0 0 16 16'%3E%3Cpath d='M2.146 2.146a.5.5 0 0 1 .708 0L8 7.293l5.146-5.147a.5.5 0 1 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854a.5.5 0 0 1 0-.708z'/%3E%3C/svg%3E");
  background-size: 30px 30px;
  /* 🔴 obligatorio también en hover */
}