.navbar {
  background-color: #ff3131;
  /* color principal */
}

.nav-link {
  color: #fff !important;
}

.menu-btn .btn {
  background-color: #ff3131;
  color: #fff;
  border: #fff solid 1.5px;
  padding: 4px 10px 5px 10px;
}

.menu-btn .btn:hover,
.menu-btn .btn:active,
.menu-btn .btn:focus-visible {
  background-color: #fff !important;
  color: #ff3131;
  border-color: #ff3131 !important;
  box-shadow: none;
}